# Visual Studio Code
.vscode/*
!.vscode/cspell.json

# Environment variables
.env

# Python virtual environment (created by the dev setup / update script)
.venv/

# Logs
logs/
!logs/.gitkeep

# SSH keys
ssh-keys/*
!ssh-keys/.gitkeep